body{
	background-color:#000000;
	color:#ffffff;
	font-family:sans-serif;
}

#wrapper{
	margin: 0 auto;
	width:800px;
	background-color:#191919;
}

#header{
	padding:20px 20px 5px;
	color: #999999;
	border-bottom: 2px solid #2c2c2c;

}

#header h1{
	margin: 0;
	text-align:center;
	color:#ffaa00;
	font-weight:bold;
	font-size:28pt;
}

#tagline{
	text-align:right;
	color: #666666;
	font-style:italic;
	font-size:11pt;
	margin-right:50px;
	
}

#menu{
	border-bottom: 2px solid #2c2c2c;
	text-align:left;
	padding: 2px 20px;
}

#menuusr{
	color:#cccccc;
	float:left;
}

#menulinks{
	text-align:right;
}

#menulinks a{
	color:#99aadd;
	text-decoration:none;
}

#main{
	font-size:12pt;
	padding: 10px 20px;
}

#main p{
	margin:5px 0px;
}

.result{
	font-weight:bold;
	font-size:30pt;
	color:#666666;
}

#score{
	margin-bottom:10px;
}

#flickr{
	width:80%;
	margin: 0 auto;

}

#guess_form{
	margin-top: 10px;
}



#score_bar_out{
	width:400px; 
	height:20px; 
	background-color:#373333;

}

#score_bar_inner{
	height:100%; 
	background-color:#33ee33;
}

#footer{
	border-top: 2px solid #2c2c2c;
	height:70px;
	color: #666666;
	font-size:11pt;
	margin-top: 10px;
	padding: 20px 20px 0;

}
