hostname: localhost
port: 5000
static_doc_root: path/to/static/doc/root
template_dir: path/to/template/dir
bind: 0.0.0.0:5000
dbhost: localhost
dbname: database_name
dbport: port
dbpwd: password
dbuser: username
